/* Global styles */
body {
    font-family: Helvetica, Arial, sans-serif;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(5,65,98,1) 22%, rgba(0,212,255,1) 100%);
    color: white;
    margin: 0;
    padding: 0;
    text-align: center;
}

h1, h2, h3 {
    color: white;
    text-shadow: 5px 4px 14px rgba(78, 78, 78, 1);
}

label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
}

#species-filter, #sex-filter, #parameter-filter {
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
    padding: 5px;
}

#island-average-chart, #distribution-chart {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    margin: 10px;
}

#data-table {
    margin: 20px auto;
    border-collapse: collapse;
    width: 90%;
}

#data-table th, #data-table td {
    border: 1px solid white;
    padding: 10px;
    text-align: center;
}

#data-table th {
    background: rgba(5,65,98,1);
    color: white;
}

#data-table td {
    background: rgba(0,212,255,0.2);
}

/* Responsive styles */
@media only screen and (max-width: 768px) {
    .dashboard-container {
        flex-direction: column;
    }

    #species-filter, #sex-filter, #parameter-filter {
        width: 90%;
    }
}

.dash-graph {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}

.VirtualizedSelectOption {
    background-color: rgba(0, 0, 0, 0.8) !important;
    color: white !important;
}

.Select-value-label {
    color: white !important;
}
